<!-- templates/account/signup.html -->
{% extends "base.html" %}
{% load static %}

{% block page_title %}
{% endblock %}

{% block page_content %}
<section class="h-100 gradient-form">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="signup-form">
          <h2 class="text-center mb-4">Sign Up</h2>

          <form method="post" action="{% url 'account_signup' %}" class="p-4 rounded shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary btn-lg submit-post">Sign Up</button>
            </div>
          </form>

          <p class="text-center mt-3">Already have an account? <a href="{{ login_url }}">Sign in</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
