<!-- discussion_list.html -->
{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <div class="row">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Post Your Own Story</h4>
                    <form method="post" action="{% url 'create_discussion' %}">
                        {% csrf_token %}
                        {{ form.as_p }} 
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock page_content %}

