{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login_url %}

{% block page_content %}
<div class="container discussion-container">
    {% if user.is_authenticated %}
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card post-your-own">
                <div class="card-body">
                    <h4 class="card-title">Create your own post</h4>
                    <form method="post" action="{% url 'create_discussion' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary submit-post">Submit</button>
                    </form>
                </div>
                {% else %}
                <div class="card post-your-own">
            <h4 class="card-title">Log in to create your own post</h4>
            <a class="btn btn-primary login-link" href="{% url 'account_login' %}">Login</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
 
    {% for discussion in discussions %}
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
                <div class="card discussion-index">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title }}</a></h5>
                    <p class="card-text">{{ discussion.content | safe | truncatechars_html:200 }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ discussion.created_at.date }} by {{ discussion.author }}
                        <!---<i class="far fa-comments"></i> {{ discussion.comment_count }}-->
                    </small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if is_paginated %}
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation" class="pagination-nav">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock page_content %}