/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    margin-bottom: 20px;
}

/* Navbar */

.menu-navbar a{
    
    text-decoration: none;
}
.navbar-nav .nav-link {
    color:#0000;
    text-decoration: none;
}


.brand-name {
    font-family: "Oswald", sans-serif;
    font-size: 200%;
    padding-left: 20px;
}

.pagination-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myindex {
    margin-left: 140px;
    margin-right: 140px;
}
.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
}

.card-img-top {
    margin-bottom: 30px;
    height: 32vh;
}

.card-title {
    font-family: "Oswald", sans-serif;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
}

.card-title > a {
    text-decoration: none;
    color: black;
}

.card-title > a:hover {
    color: rgba(0, 0, 0, 0.6);
}


.text-muted > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.text-muted > a:hover {
    color:black;
}

.discussion-post-list {
    width: 120%;
}

.approval {
    color: rgb(228, 97, 97);
}

.faded {
    opacity: 0.5;
}

.login-page {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #1d0442;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pagination-nav .page-link {
    color: black;
}