/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #F5F5F5;
}

header {
    background-color: #ffffff;
    margin-bottom: 20px;
    border: black solid;
}

/* Navbar */

.menu-navbar a{
    
    text-decoration: none;
}

#nav-text {
    color:#0000;
    text-decoration: none;
}


.brand-name {
    font-family: "Oswald", sans-serif;
    font-size: 200%;
    padding-left: 20px;
    text-transform: uppercase;
}

/* index.html */

.pagination-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myindex {
    margin-left: 140px;
    margin-right: 140px;
}
.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
}

.card-img-top {
    margin-bottom: 30px;
    height: 32vh;
}

.card-title {
    font-family: "Oswald", sans-serif;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
}

.card-title > a {
    text-decoration: none;
    color: black;
}

.card-title > a:hover {
    color: rgba(0, 0, 0, 0.6);
}


.text-muted > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.text-muted > a:hover {
    color:black;
}

.pagination-nav .page-link {
    color: black;
}

/* Blog Details */

.detail-title {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.leave-comment{
    margin-top: 30px;
    margin-left: 50px;
}

.leave-comment textarea{
    width:70%;
    height: 50%;
    padding: 5px;
}

.comment {
    border: 1px solid #515151;
    background-color: #fffefe;
}

.comment-author {
    font-weight: bold;
}

.comment-date{
    color: #888;
    font-size: small;
}

.comment-body{
    color: black;
}

.btn-delete {
    background-color: #db3f4e;
    border-color: #d42a3b;
    color:#fff;
}

.btn-edit {
    background-color: #2079cc;
    border-color: #1b6fbe;
    color: #fff;
}

.approval {
    color: rgb(228, 97, 97);
}

.faded {
    opacity: 0.5;
}

.comment-count {
    font-size: 20px;
    text-align: right;
    padding-right: 200px;
}

#submit-comment {
    font-family: "Oswald", sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 10px;
}

.modal-title{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

/* About page */

.text-center h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.about-section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
    background-color: #fff;
}

.about-section h3 {
    font-family: "Oswald", sans-serif;
    margin-top: 20px;
}

.about-section h6 {
    font-family: "Oswald", sans-serif;
}

/* Categories */

.category-page h2{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}


/*Footer*/ /*https://github.com/parthwebdev/UI-Components/blob/main/Socials/02/index.html*/

footer {
    list-style: none;
    color:#060606;
    font-family: "Oswald", sans-serif;
    padding-top: 50px;
    position: relative;
}

.col-auto a {
    text-decoration: none;
    width: 3.8rem;
    height: 3.8rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #515151;
    overflow: hidden;
}
  
.col-auto a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}
  
.col-auto:hover a::before {
    scale: 1 1;
}
  
.fab {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}
  
.col-auto a:hover .fab {
    color: #fff;
    transform: rotateY(360deg);
}
  
.col-auto:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.col-auto:nth-child(2) {
    --bg-color: #1877F2;
}
.col-auto:nth-child(3) {
    --bg-color: #ff0000;
}
.col-auto:nth-child(4) {
    --bg-color: #0077b5;
}
