<!-- about.html -->
{% extends "base.html" %}
{% load static %}

{% block page_title %}
    <h2>About Us</h2>
{% endblock page_title %}

{% block page_content %}
    <section class="about-section">
        <h3>Welcome to CONNECTED.</h3>
        <p>
            At CONNECTED, we're dedicated to keeping you informed about the latest developments 
            in the ever-evolving world of technology and the internet. From artificial intelligence to 
            social media trends, emerging technologies, and everything in between, we're your go-to source 
            for insightful news, analysis, and commentary.
        </p>
        <h3>Our Mission</h3>
        <p>
            Our mission is simple: to provide you with accurate, timely, and engaging content that helps you 
            stay ahead in an increasingly digital world. We understand the importance of technology in shaping 
            our lives and society, and we're passionate about sharing knowledge and fostering discussions around 
            these advancements.
        </p>
        <h3>What We Cover</h3>
        <p>
            At CONNECTED, we cover a wide range of topics, including but not limited to:
        </p>
        <ul>
            <li>
                <h6>Artificial Intelligence (AI):</h6>
                    <p>Explore the latest breakthroughs, applications, and ethical considerations in the field of AI.
                    </p></li>
            <li>
                <h6>Social Media:</h6>
                    <p>Stay updated on the ever-changing landscape of social media platforms, trends, and their impact on society.
                    </p></li>
            <li>
                <h6>New Technologies:</h6>
                <p>Discover cutting-edge technologies, revolutionary gadgets, and transformative 
                    inventions that are driving innovation across various industries.
                </p></li>
            <li>
                <h6>Tech News:</h6>
                <p>Stay updated on the latest industry news, product launches, mergers, acquisitions, and other significant 
                    developments shaping the tech world.

                </p></li>
        </ul>
        <h3>Our Approach</h3>
        <p>
            We strive to deliver content that is not only informative but also accessible and engaging for all readers, 
            regardless of their level of technical expertise. Whether you're a seasoned tech enthusiast or just starting 
            to explore the digital world, you'll find something valuable on our site.
        </p>
        <h3>Join the conversation</h3>
        <p>
            We believe that knowledge is best shared through dialogue and collaboration. That's why we encourage you to 
            join the conversation by commenting on our articles, sharing your insights, and connecting with fellow readers 
            and technology enthusiasts in our discussion forum.
        </p>
        <h3>Stay Connected</h3>
        <p>
            To stay up-to-date with the latest news and updates from CONNECTED by following us on our 
            social media platforms.
        </p>
    </section>
{% endblock page_content %}

