<!-- blog/templates/blog/blog_detail.html -->
{% extends "base.html" %}
{% load static %}

{% block page_title %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="detail-title">{{ post.title }}</h2>
        </div>
    </div>
</div>
{% endblock page_title %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img class="img-fluid mb-4" src="{% if 'placeholder' in post.featured_image.url %}{% static 'images/default.jpg' %}{% else %}{{ post.featured_image.url }}{% endif %}" alt="{{ post.title }}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <small>
                {{ post.created_at|date }} | Categories:
                {% for category in post.category.all %}
                    <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                {% endfor %}
            </small>
            <p>{{ post.content | safe | linebreaks }}</p>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-8 offset-md-2">
        <div class="leave-comment">
            <h3 class="card-title">Leave a Comment</h3>
            {% if user.is_authenticated %}
            <form method="post" id="commentForm">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.author }}
                </div>
                <div class="mb-3">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-primary" id="submit-comment">Submit</button>
            </form>
            {% else %}
            <h6><a class="login" href="{% url 'account_login' %}">Log in</a> to leave a comment</h6>
            {% endif %}
        </div>
    </div>
</div>
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12 comment-count">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying the comments -->
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2">
            <h3 class="card-title">Comments:</h3>
            {% for comment in comments %}
                <div class="comment mb-3 {% if not comment.approved and comment.author == user %} faded {% elif not comment.approved %} d-none {% endif %}" id="comment-{{ comment.id }}">
                        <div class="card-body">
                            <p class="font-weight-bold">
                                {{ comment.author }}
                                <span class="card-subtitle mb-2 text-muted">{{ comment.created_at }}</span>
                            </p>
                            <p class="card-text">{{ comment.body | linebreaks }}</p>
                            {% if not comment.approved and comment.author == user %}
                                <p class="approval">This comment is awaiting approval</p>
                            {% endif %}
                            {% if user.is_authenticated and comment.author == user %}
                                <button class="btn btn-delete-comment" data-comment_id="{{ comment.id }}" data-post_slug="{{comment.post.slug}}">Delete</button>
                                <a class="btn btn-edit" href="{% url 'comment_edit' slug=post.slug comment_id=comment.id %}" comment_id="{{ comment.id }}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock page_content %}