<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Connected</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>C O N N E C T E D</h1>
<nav>
<a href="{% url 'home' %}">Home</a>
<a href="#">Category 1</a>
<a href="#">Category 2</a>
<a href="#">Category 3</a>
<a href="#">Category 4</a>
<a href="#">Discussion</a>
</nav>
<hr>
{% block page_title %}
{% endblock page_title %}
{% block page_content %}
{% endblock page_content %}

<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-white">
  {% block copyright %}Made by Tilde Holmqvist{% endblock copyright %}
</p>
    <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
        <i class="fab fa-twitter-square ms-3"></i>
        <i class="fab fa-instagram-square ms-3"></i>
        <i class="fab fa-youtube-square ms-3"></i>
    </p>
</footer>

</body>
</html>