{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login_url %}

{% block page_title %}
    <div class="row my-3 p-3">
        <h4>This is the profile page for {{ user.username }}</h4>
    </div>
{% endblock page_title %}

{% block page_content %}
<div class="container discussion-container">
    {% for discussion in discussions %}
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <div class="card discussion-index">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title }}</a></h5>
                    <p class="card-text">{{ discussion.content | safe | truncatechars_html:200 }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ discussion.created_at.date }} by {{ discussion.author }}</small>
                </div>
                {% if user.is_authenticated and discussion.author == user %}
                <button class="btn btn-delete" comment-id="{{ comment.id }}">Delete</button>
                      <a class="btn btn-edit" href="#" data-comment_id="{{ discussion.id }}">Edit</a>
                  {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Delete confirmation modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Are you sure you want to delete your comment? This action cannot be undone.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
          </div>
      </div>
  </div>
</div>

</div>
{% endblock page_content %}