{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login_url %}

{% block page_title %}
    <div class="row my-3 p-3">
        <h4>This is the profile page for {{ user.username }}</h4>
    </div>
{% endblock page_title %}

{% block page_content %}
<div class="container discussion-container">
    {% for discussion in discussions %}
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <div class="card discussion-index">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title }}</a></h5>
                    <p class="card-text">{{ discussion.content | safe | truncatechars_html:200 }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ discussion.created_at.date }} by {{ discussion.author }}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock page_content %}
